Apply() -- calculate project salary next year

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# import data
df = pd.read_csv("/goinfre/hrami/python_for_data/data_jobs.csv")

# data cleanup
df['job_posted_date'] = pd.to_datetime(df.job_posted_date)

Matplotlib is building the font cache; this may take a moment.

In [6]:
filter_df =  df[pd.notna(df['salary_year_avg'])].copy()

In [11]:
def calc(salary):
    return salary * 1.02

filter_df['sal'] = filter_df['salary_year_avg'].apply(calc)

In [10]:
filter_df[['salary_year_avg', 'sal']]

        salary_year_avg        sal
28             109500.0  111690.00
77             140000.0  142800.00
92             120000.0  122400.00
100            228222.0  232786.44
109             89000.0   90780.00
...                 ...        ...
785624         139216.0  142000.32
785641         150000.0  153000.00
785648         221875.0  226312.50
785682         157500.0  160650.00
785692         157500.0  160650.00

[22003 rows x 2 columns]

ast modul

In [9]:
import ast

def clean_up(job_skills):
    if pd.notna(job_skills):
        return ast.literal_eval(job_skills)

df['job_skills'].apply(clean_up)

0                                                      None
1                [r, python, sql, nosql, power bi, tableau]
2         [python, sql, c#, azure, airflow, dax, docker,...
3         [python, c++, java, matlab, aws, tensorflow, k...
4         [bash, python, oracle, aws, ansible, puppet, j...
                                ...
785736    [bash, python, perl, linux, unix, kubernetes, ...
785737                               [sas, sas, sql, excel]
785738                                  [powerpoint, excel]
785739    [python, go, nosql, sql, mongo, shell, mysql, ...
785740                                          [aws, flow]
Name: job_skills, Length: 785741, dtype: object